*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-collapse {
    margin-left: 40%;
}
.nav-link{
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover{
    color:black;
    background: white;
}
.navbar-brand{
 font-size: 1.25rem;
 font-weight: 800;
 cursor: pointer;
 text-decoration: none;
}
/*section profil css*/
.profil{
    width: 100%;
    height: 100vh;
    background: url(profil1.png) no-repeat;
    background-size: cover;
   
}
.profil h3{
    font-size: 4rem;
    font-weight: 700;

}
.profil h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid red;
    width: 39%;
}
.profil .bt1{
    width: 138px;
    height: 55px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
.about-me img{
    boîte-ombre : 11px -1px 35px 14px rgba(0,0,0,0.75);
    -webkit-box-shadow : 11px -1px 35px 14px rgba(0,0,0,0.75) ;
   -moz-box-shadow : 11px -1px 35px 14px rgba(0,0,0,0.75);
}
h1{
    font-size: 3rem;
    font-weight: 900;
}
.progress{
    background-color: rgb(222, 202, 202);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
}
.pro-valu1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}
.progress p{
    color: white;
    padding: 4px;
}
.pro-valu2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}
.pro-valu3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}
.pro-valu4{
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}
@keyframes load1 {
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}
@keyframes load2 {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes load3 {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
@keyframes load4 {
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}
.card{
    border: none;
    outline: none;
    boîte-ombre : 11px -1px 35px 8px rgba(0,0,0,0.75);
   -webkit-box-shadow : 11px -1px 35px 8px rgba(0,0,0,0.75) ;
   -moz-box-shadow : 11px -1px 35px 8px rgba(0,0,0,0.75);
}
.card p{
    color: gray;
}
.circle{
    height: 70px;
    width: 70px;
    background-color:lightgray;
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}